/* CSS Document */

html,
body {
    color: #000000;
    height: 100%;
    width: 100%;
    min-width: 1500px;
}


/* 滚动条的样式 */

body::-webkit-scrollbar {
    width: 1px;
    height: 5px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: rgba(20, 205, 238, 0.3);
}

body::-webkit-scrollbar-track {
    border-radius: 0;
    background: rgba(20, 205, 238, 0.1);
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    outline-style: none;
    /*FF*/
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline-style: none;
    /*FF*/
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
select {
    vertical-align: middle;
}


/*css为clearfix，清除浮动*/

.clearfix::after {
    content: '';
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

div {
    box-sizing: border-box;
}

.dialogClass {
    .el-dialog__header {
        background: #387eca;
        padding: 10px 10px 10px;
    }
    .el-dialog__title,
    .el-dialog__headerbtn .el-dialog__close {
        letter-spacing: 1px;
        font-weight: 700;
        color: #ffffff;
    }
    .el-dialog__headerbtn {
        top: 15px;
    }
    .el-table td div {
        text-align: center;
    }
    .el-table th>.cell {
        text-align: center;
        color: #000;
        font-weight: 600;
    }
}
